


<!DOCTYPE html>
<html>

<head>

  </head>


<body>

    <div class="container">

      <form class="form-signin" ng-submit="auth.login(authdata);">
        <h2 class="form-signin-heading">Please Login </h2>
        
        <label for="username" class="sr-only">username</label>
        <input type="text" id="username" class="form-control" placeholder="username"  ng-model="auth.authdata.username">
        
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="password" class="form-control" placeholder="Password"  ng-model="auth.authdata.password">
                
        <button class="btn btn-lg btn-primary btn-block" type="submit">login</button>
      </form>

    </div> <!-- /container -->

    </body>
    </html>