


<!DOCTYPE html>
<html>

<head>

  </head>


<body>

    <div class="container">

      <form class="form-signin" ng-submit="register.register(reginput);">
        <h2 class="form-signin-heading">Please Register</h2>
        
        <label for="username" class="sr-only">username</label>
        <input type="text" id="username" class="form-control" placeholder="username"  ng-model="register.reginput.username">
        
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="password" class="form-control" placeholder="Password"  ng-model="register.reginput.password">
        
        <label for="inputemail" class="sr-only">Email</label>
        <input type="text" id="email" class="form-control" placeholder="email"  ng-model="register.reginput.email">
        
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
      </form>

    </div> <!-- /container -->

    </body>
    </html>